{% extends "principal.html" %}
{% block continut_unic %}
    <div class="sidebar-stanga col-sm-12 col-md-5">
        <div class="pagina-cont-content">
            <div class="formular-cont-nou">
                <form action="" method="POST" enctype="multipart/form-data">
                    {{ formular.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Modifică produs</legend>
                        <div class="form-group">
                            {{ formular.nume.label(class="form-control-label") }}
                            {% if formular.nume.errors %}
                                {{ formular.nume(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for eroare in formular.nume.errors %}
                                        <span>{{ eroare }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formular.nume(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ formular.descriere.label(class="form-control-label") }}
                            {% if formular.descriere.errors %}
                                {{ formular.descriere(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for eroare in formular.descriere.errors %}
                                        <span>{{ eroare }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formular.descriere(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <img src="{{ url_for('static', filename='pictures/' + produs['poza']) }}" alt="" width="100px", height="100px">
                        <div class="form-group">
                            {{ formular.poza.label() }}
                            {{ formular.poza(class='form-control-file') }}
                            {% if formular.poza.errors %}
                                {{ formular.poza(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for eroare in formular.poza.errors %}
                                        <span>{{ eroare }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ formular.pret.label(class="form-control-label") }}
                            {% if formular.pret.errors %}
                                {{ formular.pret(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for eroare in formular.pret.errors %}
                                        <span>{{ eroare }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formular.pret(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ formular.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
