{% extends "principal.html" %}
{% block continut_unic %}
<div class="sidebar-stanga col-sm-12 col-md-8">
    <h2 class="border-bottom ml-4">Despre noi</h2>
    <p class="ml-3 mt-4">
        Noi suntem o familie de producători de legume din comuna Băleni, județul Dâmbovița.
    </p>
    <p class="ml-3 mt-4">
        Starea de pe glob ne-a împins spre această nouă metodă de desfacere. Cum accesul în piețe este foarte greu în condițiile actuale, am dezvoltat
        această aplicație pentru a găsi noi clienți.
        Tot ce vindem prin intermediul acestui site este 100% crescut în pământ românesc, în comuna Băleni din județul Dâmbovița de agricultori cu experiență
        și cu tradiție strămoșească de cultivare a legumelor.
    </p>
    <p class="ml-3 mt-4">
        Toate legumele vor fi culese, spălate și ambalate cu doar o zi înaintea livrării pentru a asigura o calitate și o prospețime de durată.
    </p>
    <p class="ml-3 mt-4">
        Comuna Băleni reprezintă unul dintre cele mai mari bazine agricole din țară, legumele noastre fiind recunoscute în județele limitrofe, dar și pe plan național.
        Mai multe detalii, dar și o priveliște de la înălțime se pot vede pe <a href="https://www.youtube.com/watch?v=TiZmBucswkk" target="_blank">această adresă</a>.
    </p>
</div>
{% endblock %}
