{% extends "principal.html" %}
{% block continut_unic %}
<div class="sidebar-stanga col-sm-12 col-md-8 mb-4">
    <h2 class="border-bottom ml-4">Cum livrăm?</h2>
    <p class="ml-3 mt-4">
        Vă propune 2 zile de livrare pe săptămână: <strong>SÂMBĂTĂ</strong> și <strong>MARȚI</strong>.
    </p>
    <p class="ml-3 mt-4">
        Comenzile pentru ziua de sâmbătă se vor primi de luni până joi, iar pentru ziua de marți se vor primi comenzi în zilele de joi, vineri și sâmbătă.<br/>
        Vă propunem acest program pentru a ne asigura că toate comenzile vor fi livrate. Ar fi foarte greu să primim comenzi vinerea pentru a fi livrate sâmbătă.<br/>
        Acest program ne permite, de asemenea, să livrăm produsele în stare proaspătă de 2 ori pe săptămână pentru ca dumneavoastră să nu țineți legumele săptămâni îndelungate în frigider. 
    </p>
    <p class="ml-3 mt-5">
        Transportul este <strong>GRATUIT</strong> pentru toate comenzile a căror valoare depășește 75 de lei.<br/>
        Pentru comenzi de sub 75 de lei transportul este contra const, mai exact 15 lei pentru fiecare comandă.<br/>
        Toate comenzile sunt livrate personal de noi, astfel putem primi feedback-ul dumneavoastră în persoană.
    </p>
    <p class="ml-3 mt-4">
        Ne propunem ca pe viitor să implementăm un nou program, <strong>COȘUL SĂPTĂMÂNAL</strong>. Acest program reprezintă mai exact posibilitatea de a primi săptămânal un coș cu 
        diferite legume sezoniere fără a mai fi nevoie de o comandă, într-o zi stabilită de comun acord.
    </p>
</div>
{% endblock %}
