{% extends "principal.html" %}
{% block continut_unic %}
<div class="sidebar-stanga col-sm-12 col-md-8">
    <h2 class="border-bottom ml-4">Producători</h2>
    <p class="ml-3 mt-4">
        În acest moment avem un singur producător, <strong>PFA Rotaru Ionuț-Alexandru</strong>, producător atestat la zi.
    </p>
    <p class="ml-3 mt-4">
        Pe viitor dorim să ne extindem și să invităm și alți producători să își vândă produsele prin intermediul
        acestei aplicații.
    </p>
</div>
{% endblock %}
